<h1><%= @merchant.name %></h1>

<h3><%= @merchant.address %><%= @merchant.city %><%= @merchant.state %><%= @merchant.zip %></h3>

<ul>
  <% @merchant.orders.each do |order| %>
  <% binding.pry  %>
    <li><%= link_to "#{order.id}", "/orders/#{order.id}"%></li>
    <li><%= order.created_at %></li>
    <li><%= item_orders.quanity %></li>
    <li><%= item_orders.price %></li>
  <% end %>
</ul>
