<h1>Welcome, <%= @user.name %>!</h1>

<h3>Profile Information:</h3>

<p>Name: <%= @user.name %> </p><br>
<p>Address: <%= @user.address %> </p><br>
<p>City: <%= @user.city %> </p><br>
<p>State: <%= @user.state %> </p><br>
<p>Zip: <%= @user.zip %> </p><br>
<p>Email: <%= @user.email %> </p><br>

<%= link_to "Edit Profile", "/profile" %>
