<!DOCTYPE html>
<html>
  <head>
    <title>Monster Shop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <nav class = "topnav">
      <%= link_to "Home", "/" %>
      <%= link_to "All Merchants", "/merchants"%>
      <%= link_to "All Items", "/items"%>
      <%= link_to "Cart: #{cart.total_items}", "/cart" unless current_admin? %>

      <% if current_user == nil %>
        <%= link_to "Register", "/register" %>
        <%= link_to "Log in", "/login" %>
      <% elsif current_user.admin? %>
        <%= link_to "All Users", "/admin/users" %>
        <%= link_to "Dashboard", admin_dashboard_path %>
      <% elsif current_user.merchant? %>
        <%= link_to "Dashboard", merchant_dashboard_path %>
      <% end %>

      <%= link_to "Profile", "/profile" if current_user %>
      <%= link_to "Log out", "/logout" if current_user %>
      <h4><%= "Logged in as #{current_user.name}" unless current_user.nil? %></h4>
    </nav>
    <% flash.each do |name, msg| %>
      <div class= "<%=name%>-flash">
        <p><%= msg %></p>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
